# Python
venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Node
node_modules/

# Env / secrets
.env
*.env.local

# OS
.DS_Store
Thumbs.db


# Frontend (Sude)
frontend/config.js

# Backend (SQLite veritabanı)
*.db
